.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header{
  margin-bottom: 30px;
}
.index-logo{
  float: left;
  width: 140px;
  height: 72px;
  margin-right: 160px;
}

.main-nav{
  float: right;
  width: 420px;
  margin-right: 60px;
  min-height: 65px;
}

.cart{
  float: right;
  width: 110px;
}

.slider{
  width: 880px;
  margin-bottom: 80px;
}

.slider-left{
  float: left;
  width: 380px;
  margin-right: 160px;

}

.slider-right{
  float: right;
  min-height: 260px;
  width: 335px;
}

.goods-list{
  width: 880px;

  padding: 80px 0;
}

.goods-list-item{
  float: left;
  width: 240px;
  margin-right: 80px;
}

.goods-list-item:last-child{
  margin-right: 0;
}

.about-us{
  width: 880px;
  padding: 75px 0;

}

.about-us-left{
  float: left;
  width: 580px;
  margin-right: 60px;
}

.about-us-right{
  float: right;
  width: 240px;
}
.partners-logo{
width: 880px;
min-height: 170px;

margin-bottom: 90px;
}
.partners-logo img{
  display: inline-block;
  width: 220px;
  min-height: 110px;
  margin-right: 100px;
}
.partners-logo img:last-child{
    margin-right: 0;
    width: 230px;
}

.map{
  min-width: 1200px;
  min-height: 415px;
}

.map-adress{
  float:left;
  width: 250px;
  min-height: 240px;
}
.main-footer{
  width: 880px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-social{
  float:left;
  width: 240px;
  min-height: 80px;

  margin-right: 80px;
}
.footer-descr{
  float: right;
  width: 550px;

}
